@model PagedList.PagedList<WebThoiTrang.Models.EF.News>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px
    }

    .img-box {
        max-width: 100%;
        max-height: 100%;
    }

    .row-item-new {
        margin-bottom: 10px;
    }

    .pagedList {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
    }

        .pagedList li {
            margin: 0 5px; /* Khoảng cách giữa các số */
        }

            .pagedList li a {
                display: inline-block;
                padding: 5px;
                border: 1px solid #000; /* Border cho mỗi số */
            }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title-news">Tin tức</h2>
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
        foreach (var item in Model)
        {
            <div class="row row-item-new">
                <div class="col-md-3">
                    <div class="img-box">
                        <a href="" title="@item.Title"><img src="@item.Image" alt="@item.Title" width="240" /></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content-box">
                        <h3><a href="/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a></h3>
                        <div class="description-box">
                            @item.Description
                        </div>
                    </div>
                </div>
            </div>
            i++;
        }
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6" style="text-align:right">
                <ul class="pagedList">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </ul>
            </div>
        </div>
    }
</div>

